html{
  font-size:62.5%;
  box-sizing: border-box;
}

body{
  font: 1.6rem Helvetica;
   margin:0;
}

.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    width: 260px;
    background: #fff;
    box-shadow:  0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.sidebar .logo{
    padding: 15px 0px;
    margin: 0;
    display: block;
    position: relative;
    z-index: 4;
}

.sidebar .logo img{
    width:100%;
    padding:.5rem 0;
}

.sidebar .logo::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 15px;
    height: 1px;
    width: calc(100% - 30px);
    background-color: rgba(180, 180, 180, 0.3);

}

.sidebar .sidebar-wrapper{
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 30px;
}

.sidebar-wrapper .nav{
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    display: block;
    margin-top:20px;
}

.sidebar .nav li a{
    margin: 10px 15px 0;
    border-radius: 3px;
    color: #3C4858;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
    padding: 10px 15px;
}

.sidebar .nav li a span{
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
}

.sidebar li a:hover{
    background-color: rgba(200, 200, 200, 0.2);
    color: #3C4858;
    box-shadow: none;
}

.sidebar li.active>a{
    background-color: #04ADBF;
    color:#fff;
    box-shadow: 0 4px 20px 0px rgb(0 0 0 / 14%), 0 7px 10px -5px rgb(4 173 191 / 40%);
}

.main-area{
    position: relative;
    float: right;
    width: calc(100% - 260px);
    transition: 0.33s, cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.main-area .content{
    margin-top: 70px;
    padding: 3rem 5rem;
    min-height: calc(100vh - 123px);
}

.content h2{
    font-size:3rem;
    color:#D8AB4C;
}

.activation-tables{
    background: #e6e6e6;
}

.activation-tables td{
    border: 2px solid white;
}

