
body {
    background: #ebebeb !important;
}

.logo {
	max-width: 350px !important; 
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #153d77;
}

.bg-secondary {
    background-color: #ffe4be !important;
}

.bg-teal {
	background-color: #0ec6bc !important;
}

.bg-green {
	background-color: #8db670 !important;
}

.bg-orange {
	background-color: #fe9909 !important;
}
.min-h-100 {
	min-height: 1005;
}

/**********/

div.buttons {
	display: flex;
	justify-content: center;
}
.report_switch {
	padding: 96px 32px;
	margin: 16px;
	border-color: #aaaaaa;
	border-style: solid;
	border-radius: 16px;
}

#screening table, #screening th, #screening td {
	text-align: center;
}
#screening tr:nth-child(even):not(.first_row):not(:last-child) > td {
    background-color:#fff;
}
#screening thead th {
    background-color:#f1990b;
	font-weight: normal;
}

.screening_report div.col-6 * {
	margin-top: 20px;
}

#screening_log table tr:last-child {
    color: #ffffff;
	font-weight: bold;
}
#screening_log table tr:last-child td {
    background-color:#f1990b;
}
#screening_log div.col-6 {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#screening_log div.col-6 > select {
	margin: 20px 0px;
}
#exclusion td:nth-child(1) {
	font-weight: bold;
	color: #8c4cbc;
}
#exclusion tbody td:nth-child(2) {
	text-align: left;
}
#screen_fail tbody td:nth-child(2) {
	text-align: left;
}
button.main_page {
	color: #ffffff;
	background-color: #239095;
	margin-bottom: 40px;
	padding: 12px;
	border: none;
	border-radius: 6px;
	font-size: 1rem;
	text-transform: uppercase;
}

/* helpful links */

div.activation-container {
	display: none;
}
div.ref_fields {
	display: none;
}
.activation-container h2 {
	color: #4B93FF;
	font-weight: bold;
}
.activation-tables{
    background: #EEEEEE;
	font-size: .75rem;
	line-height: 1.25;
	font-weight: bold;
}
.activation-tables td {
    border: 2px solid white;
	padding: .25rem;
	text-align: center;
	vertical-align: middle;
}
.activation-tables td.null {
    background: repeating-linear-gradient(
		45deg,
		#EEEEEE,
		#EEEEEE 10px,
		#E2E2E2 10px,
		#E2E2E2 20px
	);
}
.activation-tables tr.data td.null {
    background: repeating-linear-gradient(
		45deg,
		#C4C4C4,
		#C4C4C4 10px,
		#BABABA 10px,
		#BABABA 20px
	);
}
.activation-tables td:first-child {
    background-color: #4B93FF;
}
.activation-tables tr.data td:nth-child(n+3) {
	color: white;
}
.activation-tables tr.data td:empty:nth-child(n+2) {
	background-color: #C4C4C4;
}
.activation-tables tr.data td.green {
	background-color: #01C775;
}
.activation-tables tr.data td.yellow {
	background-color: #FCAB3B;
}
.activation-tables tr.data td.red {
	background-color: #E24A61;
}
.activation-tables tr:not(.data) td, .activation-tables td:nth-child(2) {
	color: #727998;
	font-size: .825rem;
}

.active-site-select {
	margin-left: 24px;
	margin-top: 24px;
}